{% extends 'base.html' %}
{% load widget_tweaks %}
{% block pagetitle %}
    <span class="col-3">欠席申請</span>
    <span class="col-6">{{month}}月{{day}}日({{week}})</span>
{% endblock %}
{% block content %}
<main class="px-0 col-sm-12 col-lg-6 offset-lg-3">
    <form method="post" class="form-horizontal">
        {% csrf_token %}
        <div class='form-group'>
            <label class="text-left control-label">時間帯</label>
            <div>{{form.shift_zone|add_class:"form-control"}}</div>
        </div>
        <div class='form-group'>
            <label class="text-left control-label">コメント</label>
            <div>{{form.comment|add_class:"form-control"}}</div>
        </div>
        <div class='form-group text-center'>
            <button type="submit" class="btn btn-primary rounded-pill my-3">登録</button>
        </div>
    </form>
</main>
{% endblock %}