{% extends 'base.html' %}
{% load widget_tweaks %}
{% block pagetitle %}
    <h2 class="navbar-brand">
        <span class="col-3">欠席申請</span>
        <span class="col-6">{{month}}月{{day}}日({{week}})</span>
    </h2>
{% endblock %}
{% block content %}
    <div class="container">
        <form method="post" class="form-horizontal">
        {% csrf_token %}
            <div class='form-group'>
                <label for='id_email' class="col-sm-4 control-label">時間帯:</label>
                <div class='col-sm-8'>{{form.shift_zone|add_class:"form-control"}}</div>
            </div>
            <div class='form-group'>
                <label for='id_email' class="col-sm-4 control-label">コメント:</label>
                <div class='col-sm-8'>{{form.comment|add_class:"form-control"}}</div>
            </div>
            <div class='form-group'>
                <div class='col-sm-8'><button type="submit" class="btn btn-primary">登録</button></div>
            </div>
        </form>
    </div>
{% endblock %}