{% extends 'base.html' %}
{% block content %}
<nav class="navbar nabvar-expand-lg navbar-light bg-light">
    <h2 class="navbar-brand">勤怠管理システム</h2>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav">
            <a href="#">{{user}}</a>
            {% if user.is_staff %}
            <a href="#">管理者画面</a>
            {% endif %}
            <a href="#">ログアウト</a><br>
        </div>
    </div>
</nav>
{% comment %} [hidaka]switch month {% endcomment %}
<p class="tabs col-sm-6 container-fluid">
  <input style="display:none;" id="this_month" type="radio" name="tab_item" checked>
  <label class="tab_item col-sm-6 mr-0" for="this_month">今月</label>
  <input style="display:none;" id="next_month" type="radio" name="tab_item">
  <label class="tab_item col-sm-6 ml-0" for="next_month">来月</label>
</p>
{% comment %} [hidaka]end switch month {% endcomment %}

{% comment %} weekend:(年,月,日,曜日) {% endcomment %}
<div class="list-group">
{% for day in weekends_thismonth %}
    <a class="list-group-item" href="{% url 'main:daily' %}?y={{day.0}}&m={{day.1}}&d={{day.2}}&w={{day.3}}">{{day.1}}/{{day.2}} {{day.3}}</a>
{% endfor %}
</div>

{% comment %} {% for day in weekends_nextmonth %}
    <a href="{% url 'main:daily' %}?y={{day.0}}&m={{day.1}}&d={{day.2}}&w={{day.3}}">{{day.1}}/{{day.2}} {{day.3}}</a><br>
{% endfor %} {% endcomment %}

{% comment %} [hidaka]inline style and script {% endcomment %}
<style>
</style>
<script>
</script>
{% comment %} [hidaka]end inline style and script {% endcomment %}

{% endblock %}
