{% extends 'base.html' %}
{% block pagetitle %}
        <h2 class="navbar-brand"><a href="{% url 'main:calender' %}">戻る</a>
        {{month}}月{{day}}日{{week}}</h2>
{% endblock %}
{% block content %}
<ul class="nav nav-tabs mx-auto col-sm-2">
  <li class="nav-item">
    <a href="#absence" class="nav-link active" data-toggle="tab">代わって欲しい</a>
  </li>
  <li class="nav-item">
    <a href="#alternative" class="nav-link" data-toggle="tab">代わってあげる</a>
  </li>
</ul>

<div class="tab-content">
    <div id="absence" class="tab-pane list-group active">
        <a class="list-group-item" href="{% url 'main:absenceCreate' %}?y={{year}}&m={{month}}&d={{day}}&w={{week}}">
            <span>追加する(欠席)</span>
            <span>+</span>
        </a>
        {% for absence in absence_list %}
            <p class="list-group-item">
                <span class="col-sm-8">{{absence.Absence_user.username}}</span>
                <span><button type="button" class="btn btn-primary btn-sm">AM</button></span>
                <span><button type="button" class="btn btn-danger btn-sm">PM</button></span>
                {% if absence.is_settled %}
                    <span><button type="button" class="btn btn-success" > 解決済！</button></span>
                {% else %}    
                <form action={% url 'main:absenceChange' absence.id %} method="post">
                    {% csrf_token %}
                    <input type="submit" value="代わる！">
                </form>
                {% endif %}
            </p>
        {% endfor %}
    </div>

    <div id="alternative" class="tab-pane list-group">
        <a class="list-group-item" href="{% url 'main:alternativeCreate' %}?y={{year}}&m={{month}}&d={{day}}&w={{week}}">
            <span>追加する(出席)</span>
            <span>+</span>
        </a>
        {% for alternative in alternative_list %}
            <p class="list-group-item">
                <span class="col-sm-8">{{alternative.Alternative_user.username}}</span>
                <span><button type="button" class="btn btn-primary btn-sm">AM</button></span>
                <span><button type="button" class="btn btn-danger btn-sm">PM</button></span>
                {% if alternative.is_settled %}
                    <span><button type="button" class="btn btn-success" > 解決済！</button></span>
                {% else %}
                <form action={% url 'main:alternativeChange' alternative.id %} method="post">
                    {% csrf_token %}
                    <input type="submit" value="代わる！">
                </form>
                {% endif %}
            </p>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% comment %} <span><button type="button" class="btn btn-success" onclick="location.href="{% url 'main:addalternative' absence.id %}"">代わる</button></span> {% endcomment %}

