{% extends 'base.html' %}

{% block pagetitle %}
    <h2 class="navbar-brand"><a href="{% url 'main:calender' %}">戻る</a>
        <span class="col-6">{{month}}月{{day}}日{{week}}</span>
        <span class="col-3">({{deficiency}})</span>
    </h2>
{% endblock %}

{% block content %}
    <ul class="nav nav-tabs">
    <li class="nav-item">
        <a href="#absence" class="nav-link active" data-toggle="tab">代わって欲しい</a>
    </li>
    <li class="nav-item">
        <a href="#alternative" class="nav-link" data-toggle="tab">代わってあげる</a>
    </li>
    </ul>

    <div class="tab-content">
        <div id="absence" class="tab-pane list-group active">
            <a class="list-group-item" href="{% url 'main:absenceCreate' %}?y={{year}}&m={{month}}&d={{day}}&w={{week}}">
                <span class="col-10">追加する(欠席)</span>
                <span class="col-2">
                    <button type="button" class="btn btn-light" style="border-radius: 50%;">+</button>
                </span>
            </a>
            {% for absence in absence_list %}
                <div class="list-group-item">
                    <div class="row align-items-center">
                        <span class="col-4">{{absence.Absence_user.username}}</span>
                        <span class="col-2"><button type="button" class="btn btn-primary btn-sm" style="border-radius: 50%;">AM</button></span>
                        <span class="col-2"><button type="button" class="btn btn-danger btn-sm" style="border-radius: 50%;">PM</button></span>
                        {% if absence.is_settled %}
                            <span class="col-4"><button type="button" class="btn btn-success" > 解決済！</button></span>
                        {% else %}    
                    <form action={% url 'main:absenceChange' absence.id %} method="post">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-warning" value="代わる！">
                    </form>
                    {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>

        <div id="alternative" class="tab-pane list-group">
            <a class="list-group-item" href="{% url 'main:alternativeCreate' %}?y={{year}}&m={{month}}&d={{day}}&w={{week}}">
                <div class="row">
                    <span class="col-10">追加する(出席)</span>
                    <span class="col-2">
                        <button type="button" class="btn btn-light" style="border-radius: 50%;">+</button>
                    </span>
                </div>
            </a>
            {% for alternative in alternative_list %}
                <div class="list-group-item">
                    <div class="row align-items-center">
                        <span class="col-4">{{alternative.Alternative_user.username}}</span>
                        <span class="col-2"><button type="button" class="btn btn-primary btn-sm" style="border-radius: 50%;">AM</button></span>
                        <span class="col-2"><button type="button" class="btn btn-danger btn-sm" style="border-radius: 50%;">PM</button></span>
                        {% if alternative.is_settled %}
                            <span class="col-4"><button type="button" class="btn btn-success" > 解決済！</button></span>
                        {% else %}
                        <form action={% url 'main:alternativeChange' alternative.id %} method="post" class="col-4">
                            {% csrf_token %}
                            <input type="submit" class="btn btn-warning" value="代わる！">
                        </form>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% comment %} <span><button type="button" class="btn btn-success" onclick="location.href="{% url 'main:addalternative' absence.id %}"">代わる</button></span> {% endcomment %}

