{% extends 'base.html' %}

{% block pagetitle %}
    <h2 class="navbar-brand">
        <span class="col-6">{{month}}月{{day}}日{{week}}</span>
        <span class="col-3">({{deficiency}})</span>
    </h2>
{% endblock %}

{% block content %}
    <ul class="nav nav-tabs">
    <li class="nav-item">
        <a href="#absence" class="nav-link text-dark active" data-toggle="tab">代わって欲しい</a>
    </li>
    <li class="nav-item">
        <a href="#alternative" class="nav-link text-dark" data-toggle="tab">代わってあげる</a>
    </li>
    </ul>
{% comment %} 代わって欲しいリスト[開始] {% endcomment %}
    <div class="tab-content">
        <div id="absence" class="tab-pane list-group active">
            {% if ownAbsence %}
                <div class="list-group-item">
                    <div class="row align-items-center">
                        <span class="col-8">この日は既に欠席連絡をしています！</span>
                        <span class="col-4"><form action={% url 'main:deleteAbsence' ownAbsence.0.id %} method="post">
                            {% csrf_token %}
                            <input type="submit" class="btn btn-danger" value="取り消す">
                        </span></form>
                    </div>
                </div>
            {% else %}
            <div class="list-group-item">
                <div class="row align-items-center">
                    <span class="col-8">追加する</span>
                    <a href="{% url 'main:absenceCreate' %}?y={{year}}&m={{month}}&d={{day}}&w={{week}}" class="btn btn-light" style="border-radius: 50%;">+</a>
                </div>
            </div>
            {% endif %}
            {% for absence in absence_list %}
                <div class="list-group-item">
                    <div class="row align-items-center">
                        <span class="col-4">{{absence.Absence_user.username}}</span>
                        {% if absence.shift_zone_judge_AM %}
                            <span class="col-2"><button type="button" class="btn btn-primary btn-sm" style="border-radius: 50%;">AM</button></span>
                        {% else %}
                            <span class="col-2"><button type="button" class="btn btn-light btn-sm" style="border-radius: 50%;">--</button></span>
                        {% endif %}
                        {% if absence.shift_zone_judge_PM %}
                            <span class="col-2"><button type="button" class="btn btn-danger btn-sm" style="border-radius: 50%;">PM</button></span>
                        {% else %}
                            <span class="col-2"><button type="button" class="btn btn-light btn-sm" style="border-radius: 50%;">--</button></span>
                        {% endif %}
                        {% if absence.is_settled %}
                            <span class="col-4"><button type="button" class="btn btn-success" > 解決済！</button></span>
                        {% else %}    
                            <span class="col-4"><form action={% url 'main:absenceChange' absence.id %} method="post">
                                {% csrf_token %}
                                <input type="submit" class="btn btn-warning" value="代わる！">
                            </form></span>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% comment %} 代わって欲しいリスト[終了] {% endcomment %}

    {% comment %} 代わってあげるリスト[開始] {% endcomment %}
        <div id="alternative" class="tab-pane list-group">
            {% if ownAlternative %}
                <div class="list-group-item">
                    <div class="row align-items-center">
                        <span class="col-8">この日は既に出勤連絡をしています！</span>
                        <span class="col-4"><form action={% url 'main:deleteAlternative' ownAlternative.0.id %} method="post">
                            {% csrf_token %}
                            <input type="submit" class="btn btn-danger" value="取り消す">
                        </span></form>
                    </div>
                </div>
            {% else %}
                <div class="list-group-item">
                    <div class="row align-items-center">
                        <span class="col-8">追加する</span>
                        <a href="{% url 'main:alternativeCreate' %}?y={{year}}&m={{month}}&d={{day}}&w={{week}}" class="btn btn-light" style="border-radius: 50%;">+</a>
                    </div>
                </div>
            {% endif %}
            {% for alternative in alternative_list %}
                <div class="list-group-item">
                    <div class="row align-items-center">
                        <span class="col-4">{{alternative.Alternative_user.username}}</span>
                        {% if alternative.shift_zone_judge_AM %}
                            <span class="col-2"><button type="button" class="btn btn-primary btn-sm" style="border-radius: 50%;">AM</button></span>
                        {% else %}
                            <span class="col-2"><button type="button" class="btn btn-light btn-sm" style="border-radius: 50%;">--</button></span>
                        {% endif %}
                        {% if alternative.shift_zone_judge_PM %}
                            <span class="col-2"><button type="button" class="btn btn-danger btn-sm" style="border-radius: 50%;">PM</button></span>
                        {% else %}
                            <span class="col-2"><button type="button" class="btn btn-light btn-sm" style="border-radius: 50%;">--</button></span>
                        {% endif %}
                        {% if alternative.is_settled %}
                            <span class="col-4"><button type="button" class="btn btn-success" > 解決済！</button></span>
                        {% else %}
                            <span class="col-4"><form action={% url 'main:alternativeChange' alternative.id %} method="post">
                                {% csrf_token %}
                            <input type="submit" class="btn btn-warning" value="代わる！">
                            </span></form>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
        {% comment %} 代わってあげるリスト[終了] {% endcomment %}
    </div>
{% endblock %}

{% comment %} <span><button type="button" class="btn btn-success" onclick="location.href="{% url 'main:addalternative' absence.id %}"">代わる</button></span> {% endcomment %}

