{% extends 'base.html' %}

{% block pagetitle %}
    <span class="col-3">[管理者]</span>
    <span class="col-6">{{month}}月{{day}}日({{week}})</span>
    <span class="col-3">({{deficiency}})</span>
{% endblock %}

{% block menu %}
  <a href="{% url 'main:calender' %}">通常モード</a>
  </li>
  <li class="nav-item">
  <a href="{% url 'main:createUser' %}">ユーザ作成</a>
{% endblock %}

{% block content %}
    <main class="px-0 col-sm-12 col-lg-6 offset-lg-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">交代が決まった</h5>
                <div class="card-text">
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            {% if absence_changed_list or alternative_changed_list %}
                                {% for absence in absence_changed_list %}
                                    <span class="col-5 text-left">{{absence.Absence_user}}</span>
                                    <span class="col-2 text-center">→</span>
                                    <span class="col-5 text-right">{{absence.get_user_from_id}}</span>
                                {% endfor %}
                                {% for alternative in alternative_changed_list %}
                                    <span class="col-5 text-left">{{alternative.Alternative_user}}</span>
                                    <span class="col-2 text-center">→</span>
                                    <span class="col-5 text-right">{{alternative.get_user_from_id}}</span>
                                {% endfor %}
                            {% else %}
                                <span>なし</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        <h4>欠席したい</h4>
        {% if absence_not_changed_list %}
            {% for absence in absence_not_changed_list%}
                <div class="list-group-item">
                    <div class="row align-items-center">
                        <span>{{absence.Absence_user}}</span>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="list-group-item">
                <div class="row align-items-center">
                    <span>なし</span>
                </div>
            </div>
        {% endif %}

        <h4>出勤したい</h4>
        {% if alternative_not_changed_list %}
            {% for alternative in alternative_not_changed_list%}
                <div class="list-group-item">
                    <div class="row align-items-center">
                        <span>{{alternative.Alternative_user}}</span>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="list-group-item">
                <div class="row align-items-center">
                    <span>なし</span>
                </div>
            </div>
        {% endif %}
    </main>
{% endblock %}
