{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=devive-width, initial-scale=1">
    <title>ShiftSwitch</title>
    <link rel="icon" href="logo.ico" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    {% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      {% block pagetitle %}
        <h2 class="navbar-brand col-4">勤怠管理システム</h2>
      {% endblock %}
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse col-lg-4 offset-lg-4" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item col-6 active">
              <a href="{% url 'main:mypage' %}">{{user}}</a>
            </li>
            <li class="nav-item col-6">
              <a href="{% url 'main:calender' %}">勤怠管理</a>
            </li>
              {% if user.is_staff %}
              {% block menu %}
                <li class="nav-item col-6">
                  <a href="{% url 'main:managerCalender' %}">管理者モード</a>
                </li>
              {% endblock %}
              {% endif %}
            <li class="nav-item col-6">
              <a href="{% url 'accounts:logout' %}">ログアウト</a>
            </li>
          </dul>
      </div>
  </nav>
    
    {% block content %}
    {% endblock %}
  {% endblock %}
<style>
  a, a:active {
    text-decoration: none;
  }
  * {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
  }
</style>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
