{% extends 'base.html' %}
{% load widget_tweaks %}
{% block tabButton %}{% endblock %}
{% block content %}
    <main class="px-0 col-sm-12 col-lg-6 offset-lg-3">
        <h2 class="container text-center py-5">ShiftSwitch</h2>
        <div>ログイン</div>
        <form method="post" class="form-horizontal">
            {% csrf_token %}
            <div class='form-group'>
                <label class="col-sm-4 control-label">ユーザ名</label>
                <div class='col-12'>{{form.username|add_class:"form-control"}}</div>
            </div>
            <div class='form-group'>
                <label class="col-sm-4 control-label">パスワード</label>
                <div class='col-12'>{{form.password|add_class:"form-control"}}</div>
            </div>
            <div class='form-group'>
                <div class='container text-center'><button type="submit" class="btn btn-primary rounded-pill">ログイン</button></div>
            </div>
        </form>
    </main>
{% endblock %}
