a, a:hover, a:active {
  text-decoration: none;
}
* {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.radbtn{
  border-radius: 50%;
}
.shdbtn{
  filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.6));
}
