{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
        <h5 class="container text-left my-3">
            <span>出勤申請</span>
            <span class="ml-3">{{month}}月{{day}}日({{week}})</span>
        </h5>
        <form method="post" class="form-horizontal">
        {% csrf_token %}
            <div class='form-group'>
                <label for='id_email' class="text-left control-label">時間帯:</label>
                <div>{{form.shift_zone|add_class:"form-control"}}</div>
            </div>
            <div class='form-group'>
                <label for='id_email' class="text-left control-label">コメント:</label>
                <div>{{form.comment|add_class:"form-control"}}</div>
            </div>
            <div class='form-group text-center'>
                <button type="submit" class="btn btn-primary rounded-pill my-3">登録</button>
            </div>
        </form>
{% endblock %}
