{% extends 'base.html' %}
{% load extra_tags %}
{% block content %}
<ul class="nav nav-tabs pt-3">
  <li class="nav-item col-6 text-center px-0">
    <a href="#this_month" class="nav-link active" data-toggle="tab">今月</a>
  </li>
  <li class="nav-item col-6 text-center px-0">
    <a href="#next_month" class="nav-link" data-toggle="tab">来月</a>
  </li>
</ul>
{% comment %} [hidaka]end switch month {% endcomment %}

{% comment %} weekend:(年,月,日,曜日) {% endcomment %}
<div class="tab-content">
  <div id="this_month" class="tab-pane list-group active">
    {% for day in weekends_thismonth %}
      <a class="list-group-item d-flex justify-content-between align-items-center text-dark" href="{% url 'main:daily' %}?y={{day.0}}&m={{day.1}}&d={{day.2}}&w={{day.3}}">
        <span>{{day.1}}/{{day.2}} {{day.3}}</span>
        <span class="badge badge-primary badge-pill">{{ day | count_deficiency }}</span>
      </a>
    {% endfor %}
  </div>
  
  <div id="next_month" class="tab-pane list-group">
    {% for day in weekends_nextmonth %}
      <a class="list-group-item d-flex justify-content-between align-items-center text-dark" href="{% url 'main:daily' %}?y={{day.0}}&m={{day.1}}&d={{day.2}}&w={{day.3}}">
          <span>{{day.1}}/{{day.2}} {{day.3}}</span>
          <span class="badge badge-primary badge-pill">{{ day | count_deficiency }}</span>
      </a>

    {% endfor %}
  </div>
</div>
{% endblock %}
