{% extends 'base.html' %}

{% block pagetitle %}
  <a class="navbar-brand m-0 text-body" href="{% url 'main:managerCalender' %}">ShiftSwitch (Admin Mode)</a>
{% endblock %}

{% block menu %}
  <a href="{% url 'main:calender' %}">通常モード</a>
{% endblock %}

{% block content %}
        <h5 class="container text-left mx-0 my-3">
            <span>{{month}}月{{day}}日{{week}}</span>
            <span class="ml-3">({{deficiency}})</span>
        </h5>

        {% comment %}欠席希望(ここから){% endcomment %}
        <div class="card my-3">
          <div class="card-header">欠席したい</div>
            <div class="card-body">
                    <div class="list-group-item">
                        {% if absenceList_AM or absenceList_PM or absenceList_BOTH %}
                            <div class="row align-items-center"><span>【全日】</span>
                                {% for absence in absenceList_BOTH %}
                                        <span>{{absence.Absence_user.username}}</span>
                                {% endfor %}
                            </div>
                            <div class="row align-items-center"><span>【 AM 】</span>
                                {% for absence in absenceList_AM %}
                                    <span>{{absence.Absence_user.username}}</span>
                                {% endfor %}
                            </div>
                            <div class="row align-items-center"><span>【 PM 】</span>
                                {% for absence in absenceList_PM %}
                                    <span>{{absence.Absence_user.username}}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            <div class="row align-items-center">
                                <span>なし</span>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% comment %}欠席希望(ここまで){% endcomment %}
        
        {% comment %}出勤希望(ここから){% endcomment %}
        <div class="card my-3">
          <div class="card-header">出勤したい</div>
            <div class="card-body">
                    <div class="list-group-item">
                            {% if alternativeList_BOTH or alternativeList_AM or alternativeList_PM %}
                                <div class="row align-items-center"><span>【全日】</span>
                                    {% for alternative in alternativeList_BOTH %}
                                        <span>{{alternative.Alternative_user.username}}</span>
                                    {% endfor %}
                                </div>
                                <div class="row align-items-center"><span>【 AM 】</span>
                                    {% for alternative in alternativeList_AM %}
                                        <span>{{alternative.Alternative_user.username}}</span>
                                    {% endfor %}
                                </div>
                                <div class="row align-items-center"><span>【 PM 】</span>
                                    {% for alternative in alternativeList_PM %}
                                        <span>{{alternative.Alternative_user.username}}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <div class="row align-items-center">
                                    <span>なし</span>
                                </div>
                            {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% comment %}出勤希望(ここまで){% endcomment %}
{% endblock %}
