{% extends 'base.html' %}

{% block pagetitle %}
    <a style="color:black;" href="{% url 'main:managerCalender' %}">Shift Switch (Admin Mode)</a>
{% endblock %}

{% block menu %}
  <a href="{% url 'main:calender' %}">通常モード</a>
{% endblock %}

{% block content %}
        <h5 class="container text-left my-3">
            <span>{{month}}月{{day}}日{{week}}</span>
            <span class="ml-3">({{deficiency}})</span>
        </h5>
        {% comment %}交代確定(ここから){% endcomment %}
        <div class="card my-3">
            <div class="card-body">
                <h5 class="card-title">交代が決まった</h5>
                <div class="card-text">
                    <div class="list-group-item">
                        {% if absence_changed_list or alternative_changed_list %}
                            {% for absence in absence_changed_list %}
                                <div class="row align-items-center">
                                    <span class="col-5 text-left">{{absence.Absence_user.username}}</span>
                                    <span class="col-2 text-center">→</span>
                                    <span class="col-5 text-right">{{absence.get_mentor_name_from_id}}</span>
                                </div>
                            {% endfor %}
                            {% for alternative in alternative_changed_list %}
                                <div class="row align-items-center">
                                    <span class="col-5 text-left">{{alternative.Alternative_user.username}}</span>
                                    <span class="col-2 text-center">→</span>
                                    <span class="col-5 text-right">{{alternative.get_mentor_name_from_id}}</span>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="row align-items-center">
                                <span>なし</span>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% comment %}交代確定(ここまで){% endcomment %}
        
        {% comment %}欠席希望(ここから){% endcomment %}
        <div class="card my-3">
            <div class="card-body">
                <h5 class="card-title">欠席したい</h5>
                <div class="card-text">
                    <div class="list-group-item">
                        {% if absence_not_changed_list %}
                            {% for absence in absence_not_changed_list%}
                                <div class="row align-items-center">
                                    <span>{{absence.Absence_user.username}}</span>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="row align-items-center">
                                <span>なし</span>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% comment %}欠席希望(ここまで){% endcomment %}
        
        {% comment %}出勤希望(ここから){% endcomment %}
        <div class="card my-3">
            <div class="card-body">
                <h5 class="card-title">出勤したい</h5>
                <div class="card-text">
                    <div class="list-group-item">
                            {% if alternative_not_changed_list %}
                                {% for alternative in alternative_not_changed_list%}
                                    <div class="row align-items-center">
                                        <span>{{alternative.Alternative_user.username}}</span>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="row align-items-center">
                                    <span>なし</span>
                                </div>
                            {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% comment %}出勤希望(ここまで){% endcomment %}
{% endblock %}
