{% extends 'base.html' %}

{% block pagetitle %}
  <a class="navbar-brand m-0 text-body" href="{% url 'main:managerCalender' %}">ShiftSwitch (Admin Mode)</a>
{% endblock %}

{% block menu %}
  <a href="{% url 'main:calender' %}">通常モード</a>
{% endblock %}

{% block content %}
        <h5 class="container text-left mx-0 my-3">
            <span>{{month}}月{{day}}日{{week}}</span>
            <span class="ml-3">({{deficiency}})</span>
        </h5>
        {% comment %}交代確定(ここから){% endcomment %}
        <div class="card my-3">
          <div class="card-header">交代が決まった</div>
            <div class="card-body">
                    <div class="list-group-item">
                        {% if absence_changed_list_AM or absence_changed_list_PM or absence_changed_list_BOTH or alternative_changed_list_AM or alternative_changed_list_PM or alternative_changed_list_BOTH %}
                            <div class="row align-items-center">【 AM 】</div>
                            {% for absence in absence_changed_list_AM %}
                                <div class="row align-items-center">
                                    <span class="col-5 text-left">{{absence.Absence_user.username}}</span>
                                    <span class="col-2 text-center">→</span>
                                    <span class="col-5 text-right">{{absence.get_mentor_name_from_id}}</span>
                                </div>
                            {% endfor %}
                            {% for alternative in alternative_changed_list_AM %}
                                <div class="row align-items-center">
                                    <span class="col-5 text-left">{{alternative.Alternative_user.username}}</span>
                                    <span class="col-2 text-center">→</span>
                                    <span class="col-5 text-right">{{alternative.get_mentor_name_from_id}}</span>
                                </div>
                            {% endfor %}
                            <div class="row align-items-center">【 PM 】</div>
                            {% for absence in absence_changed_list_PM %}
                                <div class="row align-items-center">
                                    <span class="col-5 text-left">{{absence.Absence_user.username}}</span>
                                    <span class="col-2 text-center">→</span>
                                    <span class="col-5 text-right">{{absence.get_mentor_name_from_id}}</span>
                                </div>
                            {% endfor %}
                            {% for alternative in alternative_changed_list_PM %}
                                <div class="row align-items-center">
                                    <span class="col-5 text-left">{{alternative.Alternative_user.username}}</span>
                                    <span class="col-2 text-center">→</span>
                                    <span class="col-5 text-right">{{alternative.get_mentor_name_from_id}}</span>
                                </div>
                            {% endfor %}
                            <div class="row align-items-center">【 全日 】</div>
                            {% for absence in absence_changed_list_BOTH %}
                                <div class="row align-items-center">
                                    <span class="col-5 text-left">{{absence.Absence_user.username}}</span>
                                    <span class="col-2 text-center">→</span>
                                    <span class="col-5 text-right">{{absence.get_mentor_name_from_id}}</span>
                                </div>
                            {% endfor %}
                            {% for alternative in alternative_changed_list_BOTH %}
                                <div class="row align-items-center">
                                    <span class="col-5 text-left">{{alternative.Alternative_user.username}}</span>
                                    <span class="col-2 text-center">→</span>
                                    <span class="col-5 text-right">{{alternative.get_mentor_name_from_id}}</span>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="row align-items-center">
                                <span>なし</span>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% comment %}交代確定(ここまで){% endcomment %}
        
        {% comment %}欠席希望(ここから){% endcomment %}
        <div class="card my-3">
          <div class="card-header">欠席したい</div>
            <div class="card-body">
                    <div class="list-group-item">
                        {% if absence_not_changed_list_AM or absence_not_changed_list_PM or absence_not_changed_list_BOTH %}
                            <div class="row align-items-center"><span>【全日】</span>
                                {% for absence in absence_not_changed_list_BOTH %}
                                        <span>{{absence.Absence_user.username}}</span>
                                {% endfor %}
                            </div>
                            <div class="row align-items-center"><span>【 AM 】</span>
                                {% for absence in absence_not_changed_list_AM %}
                                    <span>{{absence.Absence_user.username}}</span>
                                {% endfor %}
                            </div>
                            <div class="row align-items-center"><span>【 PM 】</span>
                                {% for absence in absence_not_changed_list_PM %}
                                    <span>{{absence.Absence_user.username}}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            <div class="row align-items-center">
                                <span>なし</span>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% comment %}欠席希望(ここまで){% endcomment %}
        
        {% comment %}出勤希望(ここから){% endcomment %}
        <div class="card my-3">
          <div class="card-header">出勤したい</div>
            <div class="card-body">
                    <div class="list-group-item">
                            {% if alternative_not_changed_list_BOTH or alternative_not_changed_list_AM or alternative_not_changed_list_PM %}
                                <div class="row align-items-center"><span>【全日】</span>
                                    {% for alternative in alternative_not_changed_list_BOTH %}
                                        <span>{{alternative.Alternative_user.username}}</span>
                                    {% endfor %}
                                </div>
                                <div class="row align-items-center"><span>【 AM 】</span>
                                    {% for alternative in alternative_not_changed_list_AM %}
                                        <span>{{alternative.Alternative_user.username}}</span>
                                    {% endfor %}
                                </div>
                                <div class="row align-items-center"><span>【 PM 】</span>
                                    {% for alternative in alternative_not_changed_list_PM %}
                                        <span>{{alternative.Alternative_user.username}}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <div class="row align-items-center">
                                    <span>なし</span>
                                </div>
                            {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% comment %}出勤希望(ここまで){% endcomment %}
{% endblock %}
