{% extends 'base.html' %}
{% load widget_tweaks %}
{% block pagetitle %}
    <a style="color:black;" href="{% url 'main:managerCalender' %}">Shift Switch (Admin Mode)</a>
{% endblock %}
{% block menu %}
    <a href="{% url 'main:calender' %}">通常モード</a>
    
{% endblock %}
{% block content %}
<main class="col-12 col-lg-6 offset-lg-3">
    <h5 class="container text-left my-3">
        <span>ユーザ作成</span>
    </h5>
    <form method="post" class="form-horizontal">
        {% csrf_token %}
        {% include 'includes/form.html' %}
        <button type="submit" class="btn btn-primary">ユーザを追加</button>
    </form>
</main>
{% endblock %}